### Assignment Spark

In [1]:
!hdfs dfs -ls /user/raman/Spark/

Found 3 items
-rw-r--r--   2 raman supergroup     993700 2020-09-16 10:11 /user/raman/Spark/amusements_in_mathematics.txt
-rw-r--r--   2 raman supergroup       4351 2020-09-16 10:20 /user/raman/Spark/iris.csv
-rw-r--r--   2 raman supergroup        539 2020-09-18 12:19 /user/raman/Spark/textfile.txt

1. Find length of the words.

In [2]:
dfile = sc.textFile("/user/raman/Spark/textfile.txt")

In [3]:
dfile.collect()

['When a man says, "I have never solved a puzzle in my life," it is',
 'difficult to know exactly what he means, for every intelligent',
 'individual is doing it every day. The unfortunate inmates of our lunatic',
 'asylums are sent there expressly because they cannot solve',
 'puzzles--because they have lost their powers of reason. If there were no',
 'puzzles to solve, there would be no questions to ask; and if there were',
 'no questions to be asked, what a world it would be! We should all be',
 'equally omniscient, and conversation would be useless and idle.']

In [4]:
type(dfile)

pyspark.rdd.RDD

In [5]:
data = dfile.flatMap(lambda line:line.split(" "))

In [6]:
data.collect()

['When',
 'a',
 'man',
 'says,',
 '"I',
 'have',
 'never',
 'solved',
 'a',
 'puzzle',
 'in',
 'my',
 'life,"',
 'it',
 'is',
 'difficult',
 'to',
 'know',
 'exactly',
 'what',
 'he',
 'means,',
 'for',
 'every',
 'intelligent',
 'individual',
 'is',
 'doing',
 'it',
 'every',
 'day.',
 'The',
 'unfortunate',
 'inmates',
 'of',
 'our',
 'lunatic',
 'asylums',
 'are',
 'sent',
 'there',
 'expressly',
 'because',
 'they',
 'cannot',
 'solve',
 'puzzles--because',
 'they',
 'have',
 'lost',
 'their',
 'powers',
 'of',
 'reason.',
 'If',
 'there',
 'were',
 'no',
 'puzzles',
 'to',
 'solve,',
 'there',
 'would',
 'be',
 'no',
 'questions',
 'to',
 'ask;',
 'and',
 'if',
 'there',
 'were',
 'no',
 'questions',
 'to',
 'be',
 'asked,',
 'what',
 'a',
 'world',
 'it',
 'would',
 'be!',
 'We',
 'should',
 'all',
 'be',
 'equally',
 'omniscient,',
 'and',
 'conversation',
 'would',
 'be',
 'useless',
 'and',
 'idle.']

In [7]:
data = data.map(lambda word:len(word))

In [8]:
data.collect()

[4,
 1,
 3,
 5,
 2,
 4,
 5,
 6,
 1,
 6,
 2,
 2,
 6,
 2,
 2,
 9,
 2,
 4,
 7,
 4,
 2,
 6,
 3,
 5,
 11,
 10,
 2,
 5,
 2,
 5,
 4,
 3,
 11,
 7,
 2,
 3,
 7,
 7,
 3,
 4,
 5,
 9,
 7,
 4,
 6,
 5,
 16,
 4,
 4,
 4,
 5,
 6,
 2,
 7,
 2,
 5,
 4,
 2,
 7,
 2,
 6,
 5,
 5,
 2,
 2,
 9,
 2,
 4,
 3,
 2,
 5,
 4,
 2,
 9,
 2,
 2,
 6,
 4,
 1,
 5,
 2,
 5,
 3,
 2,
 6,
 3,
 2,
 7,
 11,
 3,
 12,
 5,
 2,
 7,
 3,
 5]

In [9]:
type(data)

pyspark.rdd.PipelinedRDD

In [10]:
data = data.map(lambda num:(num, 1))

In [11]:
data.collect()

[(4, 1),
 (1, 1),
 (3, 1),
 (5, 1),
 (2, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (1, 1),
 (6, 1),
 (2, 1),
 (2, 1),
 (6, 1),
 (2, 1),
 (2, 1),
 (9, 1),
 (2, 1),
 (4, 1),
 (7, 1),
 (4, 1),
 (2, 1),
 (6, 1),
 (3, 1),
 (5, 1),
 (11, 1),
 (10, 1),
 (2, 1),
 (5, 1),
 (2, 1),
 (5, 1),
 (4, 1),
 (3, 1),
 (11, 1),
 (7, 1),
 (2, 1),
 (3, 1),
 (7, 1),
 (7, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (9, 1),
 (7, 1),
 (4, 1),
 (6, 1),
 (5, 1),
 (16, 1),
 (4, 1),
 (4, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (2, 1),
 (7, 1),
 (2, 1),
 (5, 1),
 (4, 1),
 (2, 1),
 (7, 1),
 (2, 1),
 (6, 1),
 (5, 1),
 (5, 1),
 (2, 1),
 (2, 1),
 (9, 1),
 (2, 1),
 (4, 1),
 (3, 1),
 (2, 1),
 (5, 1),
 (4, 1),
 (2, 1),
 (9, 1),
 (2, 1),
 (2, 1),
 (6, 1),
 (4, 1),
 (1, 1),
 (5, 1),
 (2, 1),
 (5, 1),
 (3, 1),
 (2, 1),
 (6, 1),
 (3, 1),
 (2, 1),
 (7, 1),
 (11, 1),
 (3, 1),
 (12, 1),
 (5, 1),
 (2, 1),
 (7, 1),
 (3, 1),
 (5, 1)]

In [12]:
data = data.reduceByKey(lambda m,n:m+n)

In [13]:
data.collect()

[(4, 14),
 (2, 25),
 (6, 9),
 (10, 1),
 (16, 1),
 (12, 1),
 (1, 3),
 (3, 10),
 (5, 16),
 (9, 4),
 (7, 9),
 (11, 3)]

In [14]:
data.saveAsTextFile("hdfs:///user/raman/Spark/Result")

In [15]:
!hdfs dfs -ls /user/raman/Spark/

Found 4 items
drwxr-xr-x   - raman supergroup          0 2020-09-18 17:28 /user/raman/Spark/Result
-rw-r--r--   2 raman supergroup     993700 2020-09-16 10:11 /user/raman/Spark/amusements_in_mathematics.txt
-rw-r--r--   2 raman supergroup       4351 2020-09-16 10:20 /user/raman/Spark/iris.csv
-rw-r--r--   2 raman supergroup        539 2020-09-18 12:19 /user/raman/Spark/textfile.txt

In [16]:
!hdfs dfs -ls /user/raman/Spark/Result/

Found 3 items
-rw-r--r--   2 raman supergroup          0 2020-09-18 17:28 /user/raman/Spark/Result/_SUCCESS
-rw-r--r--   2 raman supergroup         47 2020-09-18 17:28 /user/raman/Spark/Result/part-00000
-rw-r--r--   2 raman supergroup         45 2020-09-18 17:28 /user/raman/Spark/Result/part-00001

In [17]:
!hdfs dfs -cat /user/raman/Spark/Result/part-00000

2020-09-18 17:28:33,671 INFO sasl.SaslDataTransferClient: SASL encryption trust check: localHostTrusted = false, remoteHostTrusted = false
(4, 14)
(2, 25)
(6, 9)
(10, 1)
(16, 1)
(12, 1)

In [18]:
!hdfs dfs -cat /user/raman/Spark/Result/part-00001

2020-09-18 17:28:36,575 INFO sasl.SaslDataTransferClient: SASL encryption trust check: localHostTrusted = false, remoteHostTrusted = false
(1, 3)
(3, 10)
(5, 16)
(9, 4)
(7, 9)
(11, 3)

&nbsp;

&nbsp;

2. Write a script to find species wise count of sepals in iris.csv

In [19]:
!hdfs dfs -ls /user/raman/Spark/

Found 4 items
drwxr-xr-x   - raman supergroup          0 2020-09-18 17:28 /user/raman/Spark/Result
-rw-r--r--   2 raman supergroup     993700 2020-09-16 10:11 /user/raman/Spark/amusements_in_mathematics.txt
-rw-r--r--   2 raman supergroup       4351 2020-09-16 10:20 /user/raman/Spark/iris.csv
-rw-r--r--   2 raman supergroup        539 2020-09-18 12:19 /user/raman/Spark/textfile.txt

In [20]:
df = spark.read.option("header", True).csv("/user/raman/Spark/iris.csv")

In [21]:
df.count()

150

In [22]:
df.show(10)

+---+------------+-----------+------------+-----------+-------+
|_c0|Sepal.Length|Sepal.Width|Petal.Length|Petal.Width|Species|
+---+------------+-----------+------------+-----------+-------+
|  1|         5.1|        3.5|         1.4|        0.2| setosa|
|  2|         4.9|        3.0|         1.4|        0.2| setosa|
|  3|         4.7|        3.2|         1.3|        0.2| setosa|
|  4|         4.6|        3.1|         1.5|        0.2| setosa|
|  5|         5.0|        3.6|         1.4|        0.2| setosa|
|  6|         5.4|        3.9|         1.7|        0.4| setosa|
|  7|         4.6|        3.4|         1.4|        0.3| setosa|
|  8|         5.0|        3.4|         1.5|        0.2| setosa|
|  9|         4.4|        2.9|         1.4|        0.2| setosa|
| 10|         4.9|        3.1|         1.5|        0.1| setosa|
+---+------------+-----------+------------+-----------+-------+
only showing top 10 rows

In [23]:
type(df)

pyspark.sql.dataframe.DataFrame

In [24]:
df.columns

['_c0',
 'Sepal.Length',
 'Sepal.Width',
 'Petal.Length',
 'Petal.Width',
 'Species']

In [25]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Sepal.Length: string (nullable = true)
 |-- Sepal.Width: string (nullable = true)
 |-- Petal.Length: string (nullable = true)
 |-- Petal.Width: string (nullable = true)
 |-- Species: string (nullable = true)

In [26]:
df.schema.names

['_c0',
 'Sepal.Length',
 'Sepal.Width',
 'Petal.Length',
 'Petal.Width',
 'Species']

In [27]:
df.dtypes

[('_c0', 'string'),
 ('Sepal.Length', 'string'),
 ('Sepal.Width', 'string'),
 ('Petal.Length', 'string'),
 ('Petal.Width', 'string'),
 ('Species', 'string')]

In [28]:
df = df.drop('Petal.Length', 'Petal.Width')

In [29]:
df.show(5)

+---+------------+-----------+-------+
|_c0|Sepal.Length|Sepal.Width|Species|
+---+------------+-----------+-------+
|  1|         5.1|        3.5| setosa|
|  2|         4.9|        3.0| setosa|
|  3|         4.7|        3.2| setosa|
|  4|         4.6|        3.1| setosa|
|  5|         5.0|        3.6| setosa|
+---+------------+-----------+-------+
only showing top 5 rows

In [30]:
df.show(5)

+---+------------+-----------+-------+
|_c0|Sepal.Length|Sepal.Width|Species|
+---+------------+-----------+-------+
|  1|         5.1|        3.5| setosa|
|  2|         4.9|        3.0| setosa|
|  3|         4.7|        3.2| setosa|
|  4|         4.6|        3.1| setosa|
|  5|         5.0|        3.6| setosa|
+---+------------+-----------+-------+
only showing top 5 rows

In [31]:
df = df.withColumnRenamed('Sepal.Length', 'Sepal_Length').withColumnRenamed('Sepal.Width', 'Sepal_Width')

In [32]:
df.show(5)

+---+------------+-----------+-------+
|_c0|Sepal_Length|Sepal_Width|Species|
+---+------------+-----------+-------+
|  1|         5.1|        3.5| setosa|
|  2|         4.9|        3.0| setosa|
|  3|         4.7|        3.2| setosa|
|  4|         4.6|        3.1| setosa|
|  5|         5.0|        3.6| setosa|
+---+------------+-----------+-------+
only showing top 5 rows

In [33]:
Sepal_Length = df.select(df.Sepal_Length.cast('float'))

In [34]:
Sepal_Length.show(5)

+------------+
|Sepal_Length|
+------------+
|         5.1|
|         4.9|
|         4.7|
|         4.6|
|         5.0|
+------------+
only showing top 5 rows

In [35]:
Sepal_Width = df.select(df.Sepal_Width.cast('float'))

In [36]:
Sepal_Width.show(5)

+-----------+
|Sepal_Width|
+-----------+
|        3.5|
|        3.0|
|        3.2|
|        3.1|
|        3.6|
+-----------+
only showing top 5 rows

In [37]:
df = df.drop('Sepal_Length', 'Sepal_Width')

In [38]:
df.show(5)

+---+-------+
|_c0|Species|
+---+-------+
|  1| setosa|
|  2| setosa|
|  3| setosa|
|  4| setosa|
|  5| setosa|
+---+-------+
only showing top 5 rows

In [39]:
df = df.join(Sepal_Length).join(Sepal_Width)

In [40]:
df.show(5)j

+---+-------+------------+-----------+
|_c0|Species|Sepal_Length|Sepal_Width|
+---+-------+------------+-----------+
|  1| setosa|         5.1|        3.5|
|  1| setosa|         5.1|        3.0|
|  1| setosa|         5.1|        3.2|
|  1| setosa|         5.1|        3.1|
|  1| setosa|         5.1|        3.6|
+---+-------+------------+-----------+
only showing top 5 rows

In [41]:
df.dtypes

[('_c0', 'string'),
 ('Species', 'string'),
 ('Sepal_Length', 'float'),
 ('Sepal_Width', 'float')]

In [42]:
df1 = df.groupby('Species').count()

In [43]:
df1.show()

+----------+-------+
|   Species|  count|
+----------+-------+
| virginica|1125000|
|versicolor|1125000|
|    setosa|1125000|
+----------+-------+

In [44]:
df.count()